body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin: 50px;
}
.content-block {
  display: flex;
  height: 100px !important;
}
p, label {
  flex: 1 1 100%;
  display: block;
}
.jumbotron{
  font-size: larger;
  font-weight: bold;
  color: aqua;
}
.avatar {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.labels {
  font-size: 10px;
  font-weight: bold;
  color:gray;
}